@font-face {
  font-family: noto_sans;
  src: url(Noto_Sans/NotoSans-Regular.ttf);
}

a:hover {
  text-decoration: none;
}
.row {
  margin-left: 10px;
}

.table td,
.table th {
  border-top: none;
}

body {
  margin: 0;
  font-family: "Lato", sans-serif;
  font-family: noto_sans;
}

.table thead th {
  border-bottom: 2px solid #212529;
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 230px;
  background-color: #343434;
  position: fixed;
  height: 100%;
  overflow: auto;
}

h4 {
  margin-bottom: 0px;
}

.sidebar a {
  display: block;
  color: #999d96;
  padding: 16px;
  text-decoration: none;
}

.sidebar a.active {
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

.container {
  margin-top: 20px;
}

.lead {
  margin-left: 20px;
}

div.content {
  margin-left: 230px;
  padding: 1px 16px;
  height: 1000px;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }

  .sidebar a {
    float: left;
  }

  div.content {
    margin-left: 0;
  }
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}
